@import url('https://fonts.googleapis.com/css?family=Archivo:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------background picture------------------------*/

body {
    background: url(/assets/images/bg-dark-60.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #d3d3d3;
    background-size: cover;
    color: #f5f5f5;
}


/*--------------------------------background colours------------------------*/

.bg-color-contactinfo {
    background-color: #000000;
}

/*------------------------------------header--------------------------------*/

/*-----------------------contactinfo bar ------------------------*/

.contactinfo-bar {
    height: 60px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
}

.contactinfo-items {
    margin-top: 15px;
    color: #fafafa;
}

.contactinfo-items i {
    margin-left: 3%;
    color: inherit;
}

.contactinfo-links {
    margin-top: 15px;
    color: #fafafa;
}

.contactinfo-links a {
    margin-right: 3%;
    color: inherit;
}

.contactinfo-links a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

@media (max-width: 576px) {
    .contactinfo-items {
        margin-top: 7px;
        font-size: 14px;
    }
    .contactinfo-links {
        margin-top: 5px;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .contactinfo-links a i {
        margin-right: 10px;
    }
}


/*-----------------------title ------------------------*/

.logo-and-title {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    color: #74A919;
    padding-left: 5%;
}

.logo-and-title img {
    width: 80px;
    height: auto;
}

@media (max-width: 576px) {
    .logo-and-title {
        padding: 5px;
    }
    .logo-and-title img {
        width: 60px;
        height: auto;
    }
}

/*-----------------------navbar ------------------------*/

.navigation-row {
    background-color: rgba(40, 40, 40, 0.5);
}

.navbar {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 240px;
    padding: 10px 0;
}


.navigation-link {
    color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    display: inline-block;
}

.navigation-link:hover {
    color: #D3D3D3;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: block;
}

.dropbtn {
    background-color: transparent;
    color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-decoration: none;
}

.dropdown-innovations-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.dropdown-innovations-content a {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-innovations-content a:hover {
    background-color: #D3D3D3;
    color: black;
    text-decoration: none;
}


.dropdown:hover .dropdown-innovations-content {
    display: block;
}

.dropdown .dropbtn:hover {
    color: #D3D3D3;
    text-decoration: none;
}

@media (max-width: 576px) {
    .navbar {
        width: 140px;
        font-size: 13px;
    }
    .dropdown-innovations-content {
        width: 140px;
        font-size: 13px;
    }
}

@media (min-width: 577px) and (max-width: 960px) {
    .navbar {
        width: 140px;
        font-size: 16px;
    }
    .dropdown-innovations-content {
        width: 240px;
        font-size: 16px;
        margin-left: -50px;
    }
}

/*------------------------------------content all pages--------------------------------*/

.title {
    font-family: 'Archivo', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #74A919;
}

.paragraph {
    text-align: justify;
}

.spacing1 {
    width: 100%;
    height: 20px;
}

.spacing2 {
    width: 100%;
    height: 60px;
}

/* -- footer-- */

.copyright {
    font-family: "Open Sans";
    font-size: 10;
    font-weight: 200;
    color: #f5f5f5;
}

/*------------------------------------main--------------------------------*/

.main-heading {
    font-family: 'Archivo', sans-serif;
    text-align: center;
    color: #74A919;
    margin-top: 20px;
}

/*--------------slideshow --------------*/

.wrapper-fling-minislide {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 90px;
    border: 1px solid #666;
}

.fling-minislide {
    width: 100%;
    height: 0px;
    padding-bottom: 70%;
    overflow: hidden;
    position: relative;
}

.fling-minislide img {
    position: absolute;
    animation: fling-minislide 20s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}

@keyframes fling-minislide {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

.fling-minislide img:nth-child(4) {
    animation-delay: 0s;
}

.fling-minislide img:nth-child(3) {
    animation-delay: 5s;
}

.fling-minislide img:nth-child(2) {
    animation-delay: 10s;
}

.fling-minislide img:nth-child(1) {
    animation-delay: 15s;
}

@media (max-width: 992px) {
    .wrapper-fling-minislide {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 768px) {
    .wrapper-fling-minislide {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 576px) {
    .wrapper-fling-minislide {
        width: 90%;
        margin-left: 5%;
    }
}

/*--------------------------------about ------------------------*/

.about-image {
    width: 230px;
    height: 180px;
    margin-top: 40px;
}

@media (min-width: 768px) {
    .row-philosophy {
        height: 350px;
    }
}

@media (min-width: 992px) {
    .row-philosophy {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .about-image {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .about-image {
        width: 140px;
        height: auto;
    }
}

/*--------------------------------innovations ------------------------*/

.container-shafts {
    height: 150px;
    width: auto;
}

.shafts {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 10px;
}

.shaft-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.shaft-type {
    color: #d3d3d3;
}

#link-to-top {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 10px;
}

.anchor-link {
    color: #fafafa;
    text-decoration: none;
}

.anchor-link:hover {
    color: #d3d3d3;
    text-decoration: none;
}

.innovations-image {
    margin-right: 10px;
    width: 240px;
    height: 180px;
}

.break-jump-image {
    height: 190px;
    width: 160px;
}

.paragraph a {
    color: #fafafa;
    text-decoration: underline;
}

.paragraph a:hover {
    color: #d3d3d3;
}

ul {
    padding-inline-start: 20px;
}

li {
    text-align: justify;
}

.spc-tip-name {
    font-size: 12px;
}

/*--------------------------------custom ------------------------*/

.cue-name {
    color: #d3d3d3;
}

.container-custom {
    height: 150px;
    width: auto;
}

.slider {
    height: 180px;
    width: 240px;
    position: relative;
}

.slider ul {
    height: 180px;
    width: 240px;
    position: relative;
    list-style: none outside none;
    overflow: hidden;
}

.gallery img {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    height: 180px;
    width: 240px;
    transition: .3s ease-out;
    position: relative;
    z-index: 2;
}

.gallery img:hover {
    position: relative;
    z-index: 3;
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
}

@media (max-width: 480px) {
    .gallery img {
        margin-right: 10px;
        margin-bottom: 10px;
        float: center;
        height: 180px;
        width: 240px;
        transition: .3s ease-out;
        position: relative;
        z-index: 2;
    }
    .gallery img:hover {
        position: relative;
        z-index: 3;
        -webkit-transform: scale(1.3);
        margin-left: 25px;
        -moz-transform: scale(1.3);
        margin-left: 25px;
        -o-transform: scale(1.3);
        margin-left: 25px;
    }
}

.impressum-list {
    padding-inline-start: 40px;
    list-style-type: none;
    padding: 0;
}

.impressum-header {
    color: #d3d3d3;
}

.copyright a {
    margin-top: 15px;
    color: #fafafa;
    text-decoration: underline;
}

.copyright a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

.right {
    float: right;
}


a,
a:hover,
a:active,
a:focus,
a img,
object,
embed {
    outline: none;
}
